# Archivo de ejemplo para variables de entorno
# --------------------------------------------------
# En este archivo deben listar TODAS las variables de entorno que requiera su sistema.
# IMPORTANTE: NO se escriben los valores reales aquí, solo los nombres de las variables seguidos del signo igual.
# Cualquier persona que clone el repositorio usará este archivo como guía copiándolo a un archivo local ".env".

# Variables REQUERIDAS (Variables que no poseen un valor por defecto en su código y deben configurarse obligatoriamente)
DATABASE_URL=

# Variables OPCIONALES (Variables que poseen un valor por defecto en su código, por ej. DEBUG=False)
DEBUG=
PORT=
